<header>
  <nav class='navbar navbar-expand-md border-bottom'>
      <div class="container">
        <% if user_signed_in? %>
      </div>
      <div class="container">
        <div class="row" >
          <li><%= link_to 'ログアウト',destroy_user_session_path, method: :delete, class:'btn btn-outline-dark m-3' %></li>
        </div>
        <% else %>
        <div class="row offset-md-6">
          <li><%= link_to 'ABOUT', homes_about_path, class:'btn btn-outline-dark m-3' %></li>
          <li><%= link_to 'ログイン', new_user_session_path, class:'btn btn-outline-dark m-3' %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class:'btn btn-outline-dark m-3' %></li>        
        <% end %>
        </div>
      </div>
      </div>
    </div>
  </nav>
</header>